.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes backgroundMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Navbar styles */
.desktop-menu {
  display: flex;
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none; /* Hide desktop menu on small screens */
  }
  .mobile-menu-button {
    display: block; /* Show hamburger button on small screens */
  }
}
.desktop-menu {
  display: none;
}

@media (min-width: 960px) {
  .desktop-menu {
    display: flex;
    gap: 16px;
  }
  .mobile-menu-button {
    display: none;
  }
}

